.row
  .col-md-1
  .col-md-2
    %h4 Category
    %tabset(vertical="true" type="pills")
      %tab(heading="Any")
      %tab(heading="Vertical 1")
      %tab(heading="Vertical 2")
  .col-md-8(ng-controller="booksCtrl" ng-init="booksIndex()" infinite-scroll="loadMore()" infinite-scroll-distance="1")
    .media(ng-repeat="book in showingBooks | filter:categoryFilter")
      %a.pull-left(ng-href= '/books/{{book.id}}')
        %img.media-object.book-thumbnail(src="{{bookImage(book)}}" alt="")
      .media-body
        %h4.media-heading
          = '{{book.title}}'
          %small= '{{book.author}}'
        %p=  '{{book.description}}'
        %small.pull-left
          Categories:
          %div(ng-repeat='category in book.categories')
            %div(ng-click='categoryFilter.categories = book.categories')= '{{category}} '
        %small.pull-right= 'ISBN: {{book.isbn}}'
      %hr
  .col-md-1