.row
  .col-md-1
  .col-md-4
    %h4 Categories

  .col-md-6(ng-controller="booksCtrl" ng-init="booksIndex()" infinite-scroll="loadMore()" infinite-scroll-distance="1")
    .media(ng-repeat="book in showingBooks")
      %a.pull-left(ng-href="")
        %img.media-object.book-thumbnail(src="{{bookImage(book)}}" alt="")
      .media-body
        %h4.media-heading
          = '{{book.title}}'
          %small= '{{book.author}}'
        %p=  '{{book.description}}'
        %small.pull-left
          Categories:
          = '{{book.categories.join(" ")}}'
        %small.pull-right= 'ISBN: {{book.isbn}}'
      %hr
  .col-md-1