= form_tag books_search_path, method: 'GET' do
  /= text_field_tag :search, id: 'search_input'
  %input#search_input{ type: 'text', name: 'search' }
  = submit_tag 'Search'

- @books.each do |book|
  .well
    %h1
      = link_to book.title, book
      %small by #{book.author}
    %img.cover{ src: book.image_url }
    %p= book.description
