!!!
%html
  %head
    %title
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand=link_to "Friendly Books", root_path

        %ul.nav.navbar-nav.pull-right
          / Main links will go here
          %li
            = link_to root_path, class: "navbar-brand tooltp", "data-toggle"=> "tooltip", "data-placement" => "bottom", title: "Books" do
              %i.fa.fa-book
          %li
            = link_to users_path, class: 'tooltp', "data-toggle"=> "tooltip", "data-placement" => "bottom", title: "Users" do
              %i.fa.fa-users
          %li.dropdown
            %a.btn-btn-default.dropdown-toggle{id:"dropdownMenu1", "data-toggle"=> 'dropdown'}
              Profile Options
              %b.caret
            %ul.dropdown-menu.dropdown-menu-right{role:'menu', 'aria-labelledby'=>"dropdownMenu1"}
              - if current_user
                / Signed in
                %li= link_to "Profile Page", user_path(current_user), "class" => ""
                %li= link_to "Edit Account", edit_user_registration_path
                %li= link_to "Log out", destroy_user_session_path, method: :delete
              - else
                / Not signed in
                %li= link_to "Log in", new_user_session_path
                %li= link_to "Sign up", new_user_registration_path

    .container
      .flash
        - flash.each do |name, msg|
          %div{ :class => "alert alert-#{flash_class name}" }
            %a.close{ "data-dismiss" => "alert" } &times;
            %div{ :id => "flash_#{flash_class name}" }
              = msg

      = yield
